
Temp/
obj/
classes/
generated/
*.suo
bin/
* Out*
*_out_*
* out*
*.ldb
Thumbs.db
_ReSharper*/
out/
*.lic
*.user
Out/
Out*/
Data/*Out*
TestResults/
*.vsmdi
test-results/
*.userprefs